---
layout: archive
---

<h3 class="archive__subtitle">Transform your business with artificial intelligence</h3>

My name is Vincent Sincholle, a french emerging tech leader specialise in artificial intelligence.

Transforming your business with artificial intelligence and emerging technologies is something that I really like. 
I combine user-centric and lean start-up approaches to deliver quick MVPs which make sense for the end-user.
Machine Learning, Deep learning and Computer vision are some techniques that I am using to develop artificial intelligence applications.

I am a big open source believer since I think with sharing solutions we can achieve a lot more as a community. 
I have a passion for astronomy and sustainability and I would love to help you out if you have a project in those areas!

On my website you can find some examples of my profesional projects and know more about me.

Have fun in browsing through the content and thank you for visiting!

Vincent




