---
layout: archive
---

<h3 class="archive__subtitle">Transform your business with AI</h3>
<br/>

<div align="justify">
Transforming your business with emerging technologies and artificial intelligence is something that I really like. 
I combine user-centric and lean start-up approaches to deliver quick MVPs which make sense for your customers.<br/>
<br/>

Machine Learning, Deep learning, Text recognition, Computer vision, Automatic speech recognition, Natural language processing, Natural language understanding 
  are some techniques that I am using to develop artificial intelligence applications.<br/>
<br/>

I am a big open source believer and I have a passion for astronomy and sustainability.
I would love to help you out if you have a project in those areas :)<br/>
<br/>

On my website you can find some examples of my profesional projects and know more about me.<br/>
<br/>

Have fun in browsing through the content and thank you for visiting!<br/>
<br/>
</div>




